# package
*.jar

# gradle
.gradle/
build/
!/gradle/wrapper/gradle-wrapper.jar
/.apt_generated/
bin/

# custom
generated.frtsm
generated.gmdef

# android
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.log
